<div [formGroup]="parentForm">
  <mat-form-field appearance="outline">
    <mat-label>{{ label }}</mat-label>
    <input matInput
      [formControlName]="name"
      [matDatepicker]="picker"
      type="text"
      placeholder="{{ placeholder }}"
      disabled="{{ disabled }}"
      required="{{ required }}"
      readonly="{{ true }}"
      (dateChange)="onDate($event)"/>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>
