<div class="mat-list">
  <div class="mat-subheader">Products</div>
  <div class="mat-list-item" *ngFor="let product of (products$ | async)">
      <div  class="matListItemTitle">{{product?.title}}</div>
      <div class="matListItemLine">{{product.category}}</div>
  </div>
</div>

<hr>
<div class="mat-list">
  <div class="mat-subheader">Products Encontrados</div>
  <div class="mat-list-item" *ngFor="let product of (productSearch$ | async)">
      <div class="matListItemTitle">{{product?.title}}</div>
      <div class="matListItemLine">{{product.category}}</div>
  </div>
</div>
<router-outlet></router-outlet>
