<h1>Bienvenido a Osmos</h1>

<form [formGroup]="loginForm">
  <app-input
    [parentForm]="loginForm"
    [label]="'Usuario'"
    [name]="'username'"
    [type]="'text'"
    [placeholder]="'correo@dominio.sufijo'"
    [required]="true"
    (override)="onOverride($event, login)">
  </app-input>

  <app-input
    [parentForm]="loginForm"
    [label]="'Contraseña'"
    [name]="'password'"
    [type]="'password'"
    [placeholder]="'********'"
    [required]="true"
    (override)="onOverride($event, login)">
  </app-input>

  <app-button
    [type]="'primary'"
    [label]="'Guardar'"
    [disabled]="loginForm.invalid"
    (clicking)="doLogin()">
  </app-button>
</form>

<!--<h1>Componentes</h1>

<h2>Input</h2>
<pre>
  <code>
    {{ codeSamples.inputSample }}
  </code>
</pre>

<form [formGroup]="sampleForm">
  <app-input
    [parentForm]="sampleForm"
    [label]="'Haz click aquí'"
    [name]="'randomText'"
    [type]="'text'"
    [placeholder]="'placeholder'"
    [required]="true"
    (override)="onOverride($event,sample)">
  </app-input>

  <app-input
    [parentForm]="sampleForm"
    [label]="'Correo'"
    [name]="'email'"
    [type]="'text'"
    [placeholder]="'placeholder'"
    [required]="true"
    (override)="onOverride($event,sample)">
  </app-input>
</form>

<h2>Select</h2>
<pre>
  <code>
    {{ codeSamples.selectSample }}
  </code>
</pre>

<form [formGroup]="sampleForm">
  <app-select
    [parentForm]="sampleForm"
    [label]="'Catálogo'"
    [name]="'selectedItem'"
    [preItem]="sample.selectedItem"
    [itemsList]="itemsList"
    [required]="true"
    (selected)="onOverride($event,sample)">
  </app-select>
</form>

<h2>DatePicker</h2>
<pre>
  <code>
    {{ codeSamples.datepickerSample }}
  </code>
</pre>

<form [formGroup]="sampleForm">
  <app-datepicker
    [parentForm]="sampleForm"
    [label]="'Fecha de Ingreso'"
    [name]="'entrance'"
    [pre]="sample.entrance"
    [placeholder]="'dd/mm/aaaa'"
    [required]="true"
    (override)="onOverride($event, sample)">
  </app-datepicker>
</form>

<h2>Button</h2>
<pre>
  <code>
    {{ codeSamples.buttonSample }}
  </code>
</pre>
<form [formGroup]="sampleForm">
  <app-button
    [type]="'primary'"
    [label]="'Guardar'"
    [disabled]="sampleForm.invalid"
    (clicking)="logToParent(sample)">
  </app-button>
</form> -->